{% extends '::base.html.twig' %}
{% block titrePage %}


        {{ titrePage }}
   
 
{% endblock %}
{% block contenu %}
    Bonjour et bienvenue sur le site GDL, le site de Gestion de log.<br>
    <br>
    Pour le bon fonctionement du site et voir les logs vous devez contacter votre administrateur réseau pour avoir vos identifiant.<br>
    Le site n'est accessible que si vous êtes connecté.
    </br>
    
    <a href="http://www.pass.be" title="site du pass"> site du PASS </a>

{% endblock %}
