{% extends "::base.html.twig" %}

{% block titrePage %}
            {{ titrePage }} {% endblock %}
            
            
 {% block contenu %}
     {%if (mdp is defined) and (mdp != null) %}
        
         mdp=<i> {{mdp}}</i>
    
    {% endif %}
     
      <div class="col-lg-12">
     {{ form(form) }}
      </div>
     {%if chemin != null %}
    <a href="{{ chemin }}"><button type="button" class="btn btn-danger">Supprimer le groupe</button></a>
    
    
    {% endif %}

     
{% endblock %}