

    les différentes variables utilisables en twig, il faut les mettre entre double "{" 
    <ul > <li title='id de la ligne en base de donnée '> log.id </li>
        <li title="Date de réception sur le serveur syslog " > log.receivedat </li>
          <li title=" Date de l'émission du log sur le serveur"> log.devicereportedtime</li>           
            <li title="Nom du type de service (local 0, ...) "> log.facility.nom </li>
            <li title="La description de celui-ci"> log.facility.description </li>        
             <li title="Nom du type de priorité, (erreur critique)"> log.priority.nom </li>
              <li title=" La description de la priorité"> log.priority.description </li>
               <li title="La couleur associée à la priorité "> log.priority.couleur </li>
                <li title="La couleur pour le texte de la priorité "> log.priority.couleurText </li>
                 <li title="Le serveur qui envoie le log"> log.fromhost   </li>
                  <li title=" le message d'erreur"> log.message   </li>
                   <li title="le tag du service qui émet le log."> log.syslogtag   </li>
                  
              
        </ul>
