{# empty Twig template #}
<div class="alert alert-alert" role="alert">
  <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
  <span class="sr-only">ERROR</span>
  Une erreur est survenue lors du nettoyage de la base de donné.
</div>