{# empty Twig template #}
<div class="alert alert-danger" role="alert">
  <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
  <span class="sr-only">Error</span>
 Impossible de modifier la configuration ldap! :)
</div>