{# empty Twig template #}
<div class="alert alert-success" role="alert">
  <span class="glyphicon glyphicon-ok" aria-hidden="true"></span>
  <span class="sr-only">Error</span>
 Modification réalisée avec succes !
</div>