{# empty Twig template #}
<a href="{{ path('PASS_GestionUtilisateur',{'listingId': jeune.id}) }}"><span class="glyphicon glyphicon-user" title="Voir l'utilisateur"  aria-hidden="true"></span> </a>
                            
<a href="{{ path('PASS_modificationLDAP',{'username': jeune.username}) }}"><span class="glyphicon glyphicon-refresh" title="Modifier l'utilisateur"  aria-hidden="true"></span> </a>
  
                            
<a href="{{ path('PASS_SupprimerUtilisateur',{'personneId': jeune.id}) }}">
    <span class="glyphicon glyphicon-trash" title="Supprimer l'utilisateur"  aria-hidden="true"></span> </a>
 

 