{# empty Twig template #}

<a href="{{ path('PASS_GestionGroupe',{'listingId': jeune.id}) }}"><span class="glyphicon glyphicon-user" title="Voir l'utilisateur"  aria-hidden="true"></span> </a>
                            
<a href="{{ path('PASS_ModificationGroupe',{'listingId': jeune.id}) }}"><span class="glyphicon glyphicon-pencil" title="Modifier l'utilisateur"  aria-hidden="true"></span> </a>
  
                            
<a href="{{ path('PASS_SupprimerGroupe',{'groupeId': jeune.id}) }}">
    <span class="glyphicon glyphicon-trash" title="Supprimer l'utilisateur"  aria-hidden="true"></span> </a>
 
                                

 