{# empty Twig template #}

                    <div class="">
                        <br/>
                      
                        <table class="table col-lg-12 col-sm-8 col-xs-10">
                            <tr>
                                <td class="active" class="col-lg-2">Nom du Groupe:</td>
                                <td class="active"class="col-lg-8"> {{ groupe.key|capitalize }}</td>
                            </tr>
                            <tr>
                                <td class="col-lg-2" >Déscription:</td>
                                <td  class="col-lg-8"> {{ groupe.description|capitalize }}</td>
                            </tr>
                            <tr>
                                <td class="active" class="col-lg-2">Groupe de type:</td>
                                <td class="active"class="col-lg-8"> {{ groupe.type|capitalize }}</td>
                            </tr>
                            <tr>
                                <td >info:</td>
                                
                            </tr>
                           </table>
                       
                        </div>