{% extends "::base.html.twig" %}

{% block titrePage %}
            {{ titrePage }} {% endblock %}
            
            
 {% block contenu %}
    
     {{ form(form) }}
     
     {%if chemin is defined and chemin != null %}
    <a href="{{ chemin }}"><button type="button" class="btn btn-danger">Supprimer le groupe</button></a>
    
    
    {% endif %}

     
{% endblock %}