{# empty Twig template #}
<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <style>
           
             {% include "PASSGestionLogBundle:mail:cssMail.html.twig"  %}
    </style>

    </head>
    <body>

        <div id="corp">

            <div class="row " id="contenu">
          
                {% include "PASSGestionLogBundle:mail:Corp.html.twig" with {'log':log}  %}

          

        </div>
        </div>
    </body>
</html>
